<h1>Cadastro de atendimento</h1>

<form action="/lista_atendimento" method="POST">
    <LABEL>Nome</LABEL>
    <input type="text" name="nome"> <br><br>
    
    <LABEL>CPF</LABEL>
    <input type="text" name="cpf"> <br><br>

    <LABEL>Idade</LABEL>
    <input type="text" name="idade"> <br><br>

    <LAbel>Tipo de atendimento</LAbel>
    <input type="text" name="tipo_atendimento"> <br><br>

    <button type="submit">Cadastrar</button>
</form>
